In [1]:
import pandas as pd

In [2]:
# Create a reference to the CSV and import it into a Pandas DataFrame
csv_path = "Resources/Bedbug_Reporting.csv"
bugs_df = pd.read_csv(csv_path)
bugs_df.head()

,Building ID,Registration ID,Borough,House Number,Street Name,Postcode,# of Dwelling Units,Infested Dwelling Unit Count,Eradicated Unit Count,Re-infested Dwelling Unit Count,...,Filing Period Start Date,Filling Period End Date,Latitude,Longitude,Community Board,Council District,2010 Census Tract,BIN,BBL,NTA
0,14135,117174,MANHATTAN,5,EAST 51 STREET,10022.0,14.0,0.0,0.0,0.0,...,11/01/2019,10/31/2020,40.758998,-73.976324,5.0,4.0,102.0,1035467.0,1.012870e+09,Midtown-Midtown South
1,806924,206329,BRONX,2400,SEDGWICK AVENUE,10468.0,128.0,0.0,0.0,0.0,...,11/01/2019,10/31/2020,40.864184,-73.908991,7.0,14.0,261.0,2092432.0,2.032260e+09,Kingsbridge Heights
2,14951,106899,MANHATTAN,348,EAST 62 STREET,10065.0,22.0,0.0,0.0,0.0,...,11/01/2019,10/31/2020,40.761862,-73.961509,8.0,5.0,110.0,1044239.0,1.014360e+09,Lenox Hill-Roosevelt Island
3,661202,407317,QUEENS,1714,GROVE STREET,11385.0,3.0,0.0,0.0,0.0,...,11/01/2019,10/31/2020,40.703275,-73.910772,5.0,34.0,547.0,4082197.0,4.034410e+09,Ridgewood
4,425643,423224,QUEENS,142-36,38 AVENUE,11354.0,18.0,0.0,0.0,0.0,...,11/01/2019,10/31/2020,40.761839,-73.826239,7.0,20.0,865.0,4113597.0,4.050208e+09,Flushing

In [3]:
bugs_df.columns

Index(['Building ID', 'Registration ID', 'Borough', 'House Number',
       'Street Name', 'Postcode', '# of Dwelling Units',
       'Infested Dwelling Unit Count', 'Eradicated Unit Count',
       'Re-infested  Dwelling Unit Count', 'Filing Date',
       'Filing Period Start Date', 'Filling Period End Date', 'Latitude',
       'Longitude', 'Community Board', 'Council District', '2010 Census Tract',
       'BIN', 'BBL', 'NTA'],
      dtype='object')

In [4]:
# Remove the extra space from "Re-infested  Dwelling Unit Count" column
bugs_df = bugs_df.rename(
    columns={"Re-infested  Dwelling Unit Count": "Re-infested Dwelling Unit Count"})

In [26]:
# Columns we're interested in: 'Building ID', 'Borough', 'Postcode', '# of Dwelling Units',
#       'Infested Dwelling Unit Count', 'Eradicated Unit Count',
#       'Re-infested Dwelling Unit Count', 'Filing Date', 'Latitude', 'Longitude'
bugs_df = bugs_df[['Building ID', 'Borough', 'Postcode', '# of Dwelling Units',
       'Infested Dwelling Unit Count', 'Eradicated Unit Count',
       'Re-infested Dwelling Unit Count', 'Filing Date',
       'Latitude', 'Longitude']]
bugs_df.head()

,Building ID,Borough,Postcode,# of Dwelling Units,Infested Dwelling Unit Count,Eradicated Unit Count,Re-infested Dwelling Unit Count,Filing Date,Latitude,Longitude
0,14135,MANHATTAN,10022.0,14.0,0.0,0.0,0.0,07/19/2021,40.758998,-73.976324
1,806924,BRONX,10468.0,128.0,0.0,0.0,0.0,07/29/2021,40.864184,-73.908991
2,14951,MANHATTAN,10065.0,22.0,0.0,0.0,0.0,08/09/2021,40.761862,-73.961509
3,661202,QUEENS,11385.0,3.0,0.0,0.0,0.0,08/03/2021,40.703275,-73.910772
4,425643,QUEENS,11354.0,18.0,0.0,0.0,0.0,08/05/2021,40.761839,-73.826239

In [5]:
# Extract the year from the date
bugs_df["Filing Date"] = bugs_df["Filing Date"].astype("datetime64")
bugs_df["Year"] = bugs_df["Filing Date"].dt.year
bugs_df.head()

,Building ID,Registration ID,Borough,House Number,Street Name,Postcode,# of Dwelling Units,Infested Dwelling Unit Count,Eradicated Unit Count,Re-infested Dwelling Unit Count,...,Filling Period End Date,Latitude,Longitude,Community Board,Council District,2010 Census Tract,BIN,BBL,NTA,Year
0,14135,117174,MANHATTAN,5,EAST 51 STREET,10022.0,14.0,0.0,0.0,0.0,...,10/31/2020,40.758998,-73.976324,5.0,4.0,102.0,1035467.0,1.012870e+09,Midtown-Midtown South,2021
1,806924,206329,BRONX,2400,SEDGWICK AVENUE,10468.0,128.0,0.0,0.0,0.0,...,10/31/2020,40.864184,-73.908991,7.0,14.0,261.0,2092432.0,2.032260e+09,Kingsbridge Heights,2021
2,14951,106899,MANHATTAN,348,EAST 62 STREET,10065.0,22.0,0.0,0.0,0.0,...,10/31/2020,40.761862,-73.961509,8.0,5.0,110.0,1044239.0,1.014360e+09,Lenox Hill-Roosevelt Island,2021
3,661202,407317,QUEENS,1714,GROVE STREET,11385.0,3.0,0.0,0.0,0.0,...,10/31/2020,40.703275,-73.910772,5.0,34.0,547.0,4082197.0,4.034410e+09,Ridgewood,2021
4,425643,423224,QUEENS,142-36,38 AVENUE,11354.0,18.0,0.0,0.0,0.0,...,10/31/2020,40.761839,-73.826239,7.0,20.0,865.0,4113597.0,4.050208e+09,Flushing,2021

In [7]:
bugs_df.dtypes

Building ID                                 int64
Borough                                    object
Postcode                                  float64
# of Dwelling Units                       float64
Infested Dwelling Unit Count              float64
Eradicated Unit Count                     float64
Re-infested Dwelling Unit Count           float64
Filing Date                        datetime64[ns]
Latitude                                  float64
Longitude                                 float64
Year                                        int64
dtype: object

In [6]:
# Filter to only buildings with infested units greater than 0
bug_infestations = pd.DataFrame(bugs_df.loc[(bugs_df["Infested Dwelling Unit Count"]>0),:])
bug_infestations.head()

,Building ID,Registration ID,Borough,House Number,Street Name,Postcode,# of Dwelling Units,Infested Dwelling Unit Count,Eradicated Unit Count,Re-infested Dwelling Unit Count,...,Filling Period End Date,Latitude,Longitude,Community Board,Council District,2010 Census Tract,BIN,BBL,NTA,Year
26,166241,317842,BROOKLYN,1751,67 STREET,11204.0,95.0,1.0,1.0,0.0,...,10/31/2020,40.618485,-73.992673,11.0,38.0,252.0,3134324.0,3.055600e+09,Bensonhurst West,2021
51,859714,381596,BROOKLYN,2518,TILDEN AVENUE,11226.0,116.0,2.0,2.0,1.0,...,10/31/2020,40.646695,-73.953723,17.0,40.0,792.0,3391660.0,3.051360e+09,Erasmus,2021
67,664411,409256,QUEENS,203-24,HOLLIS AVENUE,11412.0,20.0,20.0,0.0,0.0,...,10/31/2020,40.706724,-73.753892,12.0,27.0,508.0,4234283.0,4.109430e+09,Hollis,2021
74,163764,321872,BROOKLYN,1731,63 STREET,11204.0,4.0,4.0,4.0,4.0,...,10/31/2020,40.621180,-73.990425,11.0,38.0,248.0,3132783.0,3.055320e+09,Bensonhurst West,2021
75,163764,321872,BROOKLYN,1731,63 STREET,11204.0,4.0,4.0,4.0,4.0,...,10/31/2020,40.621180,-73.990425,11.0,38.0,248.0,3132783.0,3.055320e+09,Bensonhurst West,2021

In [7]:
bug_infestations = bug_infestations.dropna()
bug_infestations.count()

Building ID                        16793
Registration ID                    16793
Borough                            16793
House Number                       16793
Street Name                        16793
Postcode                           16793
# of Dwelling Units                16793
Infested Dwelling Unit Count       16793
Eradicated Unit Count              16793
Re-infested Dwelling Unit Count    16793
Filing Date                        16793
Filing Period Start Date           16793
Filling Period End Date            16793
Latitude                           16793
Longitude                          16793
Community Board                    16793
Council District                   16793
2010 Census Tract                  16793
BIN                                16793
BBL                                16793
NTA                                16793
Year                               16793
dtype: int64

In [8]:
# Change postcode to int
bug_infestations["Postcode"] = bug_infestations["Postcode"].astype("int64")
bug_infestations.head()

,Building ID,Registration ID,Borough,House Number,Street Name,Postcode,# of Dwelling Units,Infested Dwelling Unit Count,Eradicated Unit Count,Re-infested Dwelling Unit Count,...,Filling Period End Date,Latitude,Longitude,Community Board,Council District,2010 Census Tract,BIN,BBL,NTA,Year
26,166241,317842,BROOKLYN,1751,67 STREET,11204,95.0,1.0,1.0,0.0,...,10/31/2020,40.618485,-73.992673,11.0,38.0,252.0,3134324.0,3.055600e+09,Bensonhurst West,2021
51,859714,381596,BROOKLYN,2518,TILDEN AVENUE,11226,116.0,2.0,2.0,1.0,...,10/31/2020,40.646695,-73.953723,17.0,40.0,792.0,3391660.0,3.051360e+09,Erasmus,2021
67,664411,409256,QUEENS,203-24,HOLLIS AVENUE,11412,20.0,20.0,0.0,0.0,...,10/31/2020,40.706724,-73.753892,12.0,27.0,508.0,4234283.0,4.109430e+09,Hollis,2021
74,163764,321872,BROOKLYN,1731,63 STREET,11204,4.0,4.0,4.0,4.0,...,10/31/2020,40.621180,-73.990425,11.0,38.0,248.0,3132783.0,3.055320e+09,Bensonhurst West,2021
75,163764,321872,BROOKLYN,1731,63 STREET,11204,4.0,4.0,4.0,4.0,...,10/31/2020,40.621180,-73.990425,11.0,38.0,248.0,3132783.0,3.055320e+09,Bensonhurst West,2021

In [10]:
# Create a column for percentage of units infested
bug_infestations["Percent Units Infested"] = bug_infestations["Infested Dwelling Unit Count"] /\
                                                bug_infestations["# of Dwelling Units"] * 100
bug_infestations.head()

,Building ID,Borough,Postcode,# of Dwelling Units,Infested Dwelling Unit Count,Eradicated Unit Count,Re-infested Dwelling Unit Count,Filing Date,Latitude,Longitude,Year,Percent Units Infested
26,166241,BROOKLYN,11204,95.0,1.0,1.0,0.0,2021-07-16,40.618485,-73.992673,2021,1.052632
51,859714,BROOKLYN,11226,116.0,2.0,2.0,1.0,2021-07-27,40.646695,-73.953723,2021,1.724138
67,664411,QUEENS,11412,20.0,20.0,0.0,0.0,2021-07-19,40.706724,-73.753892,2021,100.000000
74,163764,BROOKLYN,11204,4.0,4.0,4.0,4.0,2021-07-21,40.621180,-73.990425,2021,100.000000
75,163764,BROOKLYN,11204,4.0,4.0,4.0,4.0,2021-07-21,40.621180,-73.990425,2021,100.000000

In [11]:
# Finding the average percentage of infested units
average_infested_units = bug_infestations["Percent Units Infested"].mean()
average_infested_units

8.622154602668084

In [12]:
# Grouping the DataFrame by "Year"
year_group = bug_infestations.groupby("Year")

# Count how many buildings were infested in each borough and create DataFrame
year_borough_df = pd.DataFrame(year_group["Borough"].value_counts())
year_borough_df.head(10)

                    Borough
Year Borough
2018 MANHATTAN          260
     BRONX              149
     BROOKLYN            97
     QUEENS              72
     STATEN ISLAND        4
2019 MANHATTAN         3197
     BRONX             2275
     BROOKLYN          2217
     QUEENS            1547
     STATEN ISLAND       68

In [13]:
# Rename the "Borough" column to "Total Building Infestations"
year_borough_df = year_borough_df.rename(
    columns={"Borough": "Total Building Infestations"})
year_borough_df.head()

                    Total Building Infestations
Year Borough
2018 MANHATTAN                              260
     BRONX                                  149
     BROOKLYN                                97
     QUEENS                                  72
     STATEN ISLAND                            4

In [14]:
# Create a DataFrame that shows the total infested and re-infested dwelling unit count by year and borough
year_borough_group = bug_infestations.groupby(["Year", "Borough"])
unit_infestations_by_year_borough = pd.DataFrame(year_borough_group[["Infested Dwelling Unit Count",
                                                                   "Re-infested Dwelling Unit Count"]].sum())
unit_infestations_by_year_borough

                    Infested Dwelling Unit Count  \
Year Borough
2018 BRONX                                 300.0
     BROOKLYN                              284.0
     MANHATTAN                             513.0
     QUEENS                                210.0
     STATEN ISLAND                          15.0
2019 BRONX                                4782.0
     BROOKLYN                             5271.0
     MANHATTAN                            7412.0
     QUEENS                               4350.0
     STATEN ISLAND                         259.0
2020 BRONX                                1856.0
     BROOKLYN                             2487.0
     MANHATTAN                            2834.0
     QUEENS                               1885.0
     STATEN ISLAND                          90.0
2021 BRONX                                1618.0
     BROOKLYN                             2628.0
     MANHATTAN                            1930.0
     QUEENS                               5022.0
     STATEN ISLAND                          66.0

                    Re-infested Dwelling Unit Count
Year Borough
2018 BRONX                                     26.0
     BROOKLYN                                  36.0
     MANHATTAN                                 42.0
     QUEENS                                    10.0
     STATEN ISLAND                              2.0
2019 BRONX                                    313.0
     BROOKLYN                                 407.0
     MANHATTAN                                578.0
     QUEENS                                   404.0
     STATEN ISLAND                             57.0
2020 BRONX                                    252.0
     BROOKLYN                                 226.0
     MANHATTAN                                255.0
     QUEENS                                   294.0
     STATEN ISLAND                             19.0
2021 BRONX                                    359.0
     BROOKLYN                                 666.0
     MANHATTAN                                160.0
     QUEENS                                  3810.0
     STATEN ISLAND                              7.0

In [15]:
# Find the total unit infestations and re-infestations by year
total_unit_infestations_each_year = pd.DataFrame(year_group[["Infested Dwelling Unit Count", 
                                                             "Re-infested Dwelling Unit Count"]].sum())
total_unit_infestations_each_year = total_unit_infestations_each_year\
            .rename(columns={"Infested Dwelling Unit Count": "Total Infested Dwelling Units in Year",
                            "Re-infested Dwelling Unit Count": "Total Re-infested Dwelling Units in Year"})
total_unit_infestations_each_year

,Total Infested Dwelling Units in Year,Total Re-infested Dwelling Units in Year
Year,,
2018,1322.0,116.0
2019,22074.0,1759.0
2020,9152.0,1046.0
2021,11264.0,5002.0

In [16]:
# Merge unit_infestations_by_year_borough and join the "Total Infested Dwelling Units in Year"
# into the year_borough_df DataFrame
merged_df = year_borough_df.merge(unit_infestations_by_year_borough, 
                                  on=["Year", "Borough"]).join(total_unit_infestations_each_year,
                                                               on="Year")
merged_df.head()

                    Total Building Infestations  Infested Dwelling Unit Count  \
Year Borough
2018 MANHATTAN                              260                         513.0
     BRONX                                  149                         300.0
     BROOKLYN                                97                         284.0
     QUEENS                                  72                         210.0
     STATEN ISLAND                            4                          15.0

                    Re-infested Dwelling Unit Count  \
Year Borough
2018 MANHATTAN                                 42.0
     BRONX                                     26.0
     BROOKLYN                                  36.0
     QUEENS                                    10.0
     STATEN ISLAND                              2.0

                    Total Infested Dwelling Units in Year  \
Year Borough
2018 MANHATTAN                                     1322.0
     BRONX                                         1322.0
     BROOKLYN                                      1322.0
     QUEENS                                        1322.0
     STATEN ISLAND                                 1322.0

                    Total Re-infested Dwelling Units in Year
Year Borough
2018 MANHATTAN                                         116.0
     BRONX                                             116.0
     BROOKLYN                                          116.0
     QUEENS                                            116.0
     STATEN ISLAND                                     116.0

In [17]:
# Add calculated columns for "Percent Total Infested Units in Year", "Percent Units Re-infested",
# "Percent Total Re-infested Units in Year", "Average Units Infested Per Building"
merged_df["Percent Total Infested Units in Year"] = merged_df["Infested Dwelling Unit Count"] /\
                                                    merged_df["Total Infested Dwelling Units in Year"] * 100
merged_df["Percent Units Re-infested"] = merged_df["Re-infested Dwelling Unit Count"] /\
                                                    merged_df["Infested Dwelling Unit Count"] * 100
merged_df["Percent Total Re-infested Units in Year"] = merged_df["Re-infested Dwelling Unit Count"] /\
                                                    merged_df["Total Re-infested Dwelling Units in Year"] * 100
merged_df["Average Units Infested Per Building"] = merged_df["Infested Dwelling Unit Count"] /\
                                                    merged_df["Total Building Infestations"]
merged_df

                    Total Building Infestations  Infested Dwelling Unit Count  \
Year Borough
2018 MANHATTAN                              260                         513.0
     BRONX                                  149                         300.0
     BROOKLYN                                97                         284.0
     QUEENS                                  72                         210.0
     STATEN ISLAND                            4                          15.0
2019 MANHATTAN                             3197                        7412.0
     BRONX                                 2275                        4782.0
     BROOKLYN                              2217                        5271.0
     QUEENS                                1547                        4350.0
     STATEN ISLAND                           68                         259.0
2020 MANHATTAN                             1281                        2834.0
     BROOKLYN                              1057                        2487.0
     BRONX                                  908                        1856.0
     QUEENS                                 678                        1885.0
     STATEN ISLAND                           30                          90.0
2021 BROOKLYN                              1035                        2628.0
     MANHATTAN                              742                        1930.0
     BRONX                                  611                        1618.0
     QUEENS                                 568                        5022.0
     STATEN ISLAND                           27                          66.0

                    Re-infested Dwelling Unit Count  \
Year Borough
2018 MANHATTAN                                 42.0
     BRONX                                     26.0
     BROOKLYN                                  36.0
     QUEENS                                    10.0
     STATEN ISLAND                              2.0
2019 MANHATTAN                                578.0
     BRONX                                    313.0
     BROOKLYN                                 407.0
     QUEENS                                   404.0
     STATEN ISLAND                             57.0
2020 MANHATTAN                                255.0
     BROOKLYN                                 226.0
     BRONX                                    252.0
     QUEENS                                   294.0
     STATEN ISLAND                             19.0
2021 BROOKLYN                                 666.0
     MANHATTAN                                160.0
     BRONX                                    359.0
     QUEENS                                  3810.0
     STATEN ISLAND                              7.0

                    Total Infested Dwelling Units in Year  \
Year Borough
2018 MANHATTAN                                     1322.0
     BRONX                                         1322.0
     BROOKLYN                                      1322.0
     QUEENS                                        1322.0
     STATEN ISLAND                                 1322.0
2019 MANHATTAN                                    22074.0
     BRONX                                        22074.0
     BROOKLYN                                     22074.0
     QUEENS                                       22074.0
     STATEN ISLAND                                22074.0
2020 MANHATTAN                                     9152.0
     BROOKLYN                                      9152.0
     BRONX                                         9152.0
     QUEENS                                        9152.0
     STATEN ISLAND                                 9152.0
2021 BROOKLYN                                     11264.0
     MANHATTAN                                    11264.0
     BRONX                                        11264.0
     QUEENS                                       11264.0
     STATEN ISLAND                                11264.0

                    Total Re-infested Dwelling Units in Year  \
Year Borough
2018 MANHATTAN                                         116.0
     BRONX                                             116.0
     BROOKLYN                                          116.0
     QUEENS                                            116.0
     STATEN ISLAND                                     116.0
2019 MANHATTAN                                        1759.0
     BRONX                                            1759.0
     BROOKLYN                                         1759.0
     QUEENS                                           1759.0
     STATEN ISLAND                                    1759.0
2020 MANHATTAN                                        1046.0
     BROOKLYN                                         1046.0
     BRONX                                            1046.0
     QUEENS                                           1046.0
     STATEN ISLAND                                    1046.0
2021 BROOKLYN                                         5002.0
     MANHATTAN                                        5002.0
     BRONX                                            5002.0
     QUEENS                                           5002.0
     STATEN ISLAND                                    5002.0

                    Percent Total Infested Units in Year  \
Year Borough
2018 MANHATTAN                                 38.804841
     BRONX                                     22.692890
     BROOKLYN                                  21.482602
     QUEENS                                    15.885023
     STATEN ISLAND                              1.134644
2019 MANHATTAN                                 33.577965
     BRONX                                     21.663496
     BROOKLYN                                  23.878771
     QUEENS                                    19.706442
     STATEN ISLAND                              1.173326
2020 MANHATTAN                                 30.965909
     BROOKLYN                                  27.174388
     BRONX                                     20.279720
     QUEENS                                    20.596591
     STATEN ISLAND                              0.983392
2021 BROOKLYN                                  23.330966
     MANHATTAN                                 17.134233
     BRONX                                     14.364347
     QUEENS                                    44.584517
     STATEN ISLAND                              0.585938

                    Percent Units Re-infested  \
Year Borough
2018 MANHATTAN                       8.187135
     BRONX                           8.666667
     BROOKLYN                       12.676056
     QUEENS                          4.761905
     STATEN ISLAND                  13.333333
2019 MANHATTAN                       7.798165
     BRONX                           6.545379
     BROOKLYN                        7.721495
     QUEENS                          9.287356
     STATEN ISLAND                  22.007722
2020 MANHATTAN                       8.997883
     BROOKLYN                        9.087254
     BRONX                          13.577586
     QUEENS                         15.596817
     STATEN ISLAND                  21.111111
2021 BROOKLYN                       25.342466
     MANHATTAN                       8.290155
     BRONX                          22.187886
     QUEENS                         75.866189
     STATEN ISLAND                  10.606061

                    Percent Total Re-infested Units in Year  \
Year Borough
2018 MANHATTAN                                    36.206897
     BRONX                                        22.413793
     BROOKLYN                                     31.034483
     QUEENS                                        8.620690
     STATEN ISLAND                                 1.724138
2019 MANHATTAN                                    32.859579
     BRONX                                        17.794201
     BROOKLYN                                     23.138147
     QUEENS                                       22.967595
     STATEN ISLAND                                 3.240478
2020 MANHATTAN                                    24.378585
     BROOKLYN                                     21.606119
     BRONX                                        24.091778
     QUEENS                                       28.107075
     STATEN ISLAND                                 1.816444
2021 BROOKLYN                                     13.314674
     MANHATTAN                                     3.198721
     BRONX                                         7.177129
     QUEENS                                       76.169532
     STATEN ISLAND                                 0.139944

                    Average Units Infested Per Building
Year Borough
2018 MANHATTAN                                 1.973077
     BRONX                                     2.013423
     BROOKLYN                                  2.927835
     QUEENS                                    2.916667
     STATEN ISLAND                             3.750000
2019 MANHATTAN                                 2.318424
     BRONX                                     2.101978
     BROOKLYN                                  2.377537
     QUEENS                                    2.811894
     STATEN ISLAND                             3.808824
2020 MANHATTAN                                 2.212334
     BROOKLYN                                  2.352886
     BRONX                                     2.044053
     QUEENS                                    2.780236
     STATEN ISLAND                             3.000000
2021 BROOKLYN                                  2.539130
     MANHATTAN                                 2.601078
     BRONX                                     2.648118
     QUEENS                                    8.841549
     STATEN ISLAND                             2.444444

In [18]:
# Reduce to columns we're interested in comparing
data_to_compare = pd.DataFrame(merged_df[["Average Units Infested Per Building",
                                          "Percent Units Re-infested",
                                          "Percent Total Infested Units in Year",
                                          "Percent Total Re-infested Units in Year",
                                          "Infested Dwelling Unit Count",
                                          "Re-infested Dwelling Unit Count",
                                          "Total Building Infestations"]])
data_to_compare

                    Average Units Infested Per Building  \
Year Borough
2018 MANHATTAN                                 1.973077
     BRONX                                     2.013423
     BROOKLYN                                  2.927835
     QUEENS                                    2.916667
     STATEN ISLAND                             3.750000
2019 MANHATTAN                                 2.318424
     BRONX                                     2.101978
     BROOKLYN                                  2.377537
     QUEENS                                    2.811894
     STATEN ISLAND                             3.808824
2020 MANHATTAN                                 2.212334
     BROOKLYN                                  2.352886
     BRONX                                     2.044053
     QUEENS                                    2.780236
     STATEN ISLAND                             3.000000
2021 BROOKLYN                                  2.539130
     MANHATTAN                                 2.601078
     BRONX                                     2.648118
     QUEENS                                    8.841549
     STATEN ISLAND                             2.444444

                    Percent Units Re-infested  \
Year Borough
2018 MANHATTAN                       8.187135
     BRONX                           8.666667
     BROOKLYN                       12.676056
     QUEENS                          4.761905
     STATEN ISLAND                  13.333333
2019 MANHATTAN                       7.798165
     BRONX                           6.545379
     BROOKLYN                        7.721495
     QUEENS                          9.287356
     STATEN ISLAND                  22.007722
2020 MANHATTAN                       8.997883
     BROOKLYN                        9.087254
     BRONX                          13.577586
     QUEENS                         15.596817
     STATEN ISLAND                  21.111111
2021 BROOKLYN                       25.342466
     MANHATTAN                       8.290155
     BRONX                          22.187886
     QUEENS                         75.866189
     STATEN ISLAND                  10.606061

                    Percent Total Infested Units in Year  \
Year Borough
2018 MANHATTAN                                 38.804841
     BRONX                                     22.692890
     BROOKLYN                                  21.482602
     QUEENS                                    15.885023
     STATEN ISLAND                              1.134644
2019 MANHATTAN                                 33.577965
     BRONX                                     21.663496
     BROOKLYN                                  23.878771
     QUEENS                                    19.706442
     STATEN ISLAND                              1.173326
2020 MANHATTAN                                 30.965909
     BROOKLYN                                  27.174388
     BRONX                                     20.279720
     QUEENS                                    20.596591
     STATEN ISLAND                              0.983392
2021 BROOKLYN                                  23.330966
     MANHATTAN                                 17.134233
     BRONX                                     14.364347
     QUEENS                                    44.584517
     STATEN ISLAND                              0.585938

                    Percent Total Re-infested Units in Year  \
Year Borough
2018 MANHATTAN                                    36.206897
     BRONX                                        22.413793
     BROOKLYN                                     31.034483
     QUEENS                                        8.620690
     STATEN ISLAND                                 1.724138
2019 MANHATTAN                                    32.859579
     BRONX                                        17.794201
     BROOKLYN                                     23.138147
     QUEENS                                       22.967595
     STATEN ISLAND                                 3.240478
2020 MANHATTAN                                    24.378585
     BROOKLYN                                     21.606119
     BRONX                                        24.091778
     QUEENS                                       28.107075
     STATEN ISLAND                                 1.816444
2021 BROOKLYN                                     13.314674
     MANHATTAN                                     3.198721
     BRONX                                         7.177129
     QUEENS                                       76.169532
     STATEN ISLAND                                 0.139944

                    Infested Dwelling Unit Count  \
Year Borough
2018 MANHATTAN                             513.0
     BRONX                                 300.0
     BROOKLYN                              284.0
     QUEENS                                210.0
     STATEN ISLAND                          15.0
2019 MANHATTAN                            7412.0
     BRONX                                4782.0
     BROOKLYN                             5271.0
     QUEENS                               4350.0
     STATEN ISLAND                         259.0
2020 MANHATTAN                            2834.0
     BROOKLYN                             2487.0
     BRONX                                1856.0
     QUEENS                               1885.0
     STATEN ISLAND                          90.0
2021 BROOKLYN                             2628.0
     MANHATTAN                            1930.0
     BRONX                                1618.0
     QUEENS                               5022.0
     STATEN ISLAND                          66.0

                    Re-infested Dwelling Unit Count  \
Year Borough
2018 MANHATTAN                                 42.0
     BRONX                                     26.0
     BROOKLYN                                  36.0
     QUEENS                                    10.0
     STATEN ISLAND                              2.0
2019 MANHATTAN                                578.0
     BRONX                                    313.0
     BROOKLYN                                 407.0
     QUEENS                                   404.0
     STATEN ISLAND                             57.0
2020 MANHATTAN                                255.0
     BROOKLYN                                 226.0
     BRONX                                    252.0
     QUEENS                                   294.0
     STATEN ISLAND                             19.0
2021 BROOKLYN                                 666.0
     MANHATTAN                                160.0
     BRONX                                    359.0
     QUEENS                                  3810.0
     STATEN ISLAND                              7.0

                    Total Building Infestations
Year Borough
2018 MANHATTAN                              260
     BRONX                                  149
     BROOKLYN                                97
     QUEENS                                  72
     STATEN ISLAND                            4
2019 MANHATTAN                             3197
     BRONX                                 2275
     BROOKLYN                              2217
     QUEENS                                1547
     STATEN ISLAND                           68
2020 MANHATTAN                             1281
     BROOKLYN                              1057
     BRONX                                  908
     QUEENS                                 678
     STATEN ISLAND                           30
2021 BROOKLYN                              1035
     MANHATTAN                              742
     BRONX                                  611
     QUEENS                                 568
     STATEN ISLAND                           27