In [1]:
# Import the Pandas library
import pandas as pd

In [2]:
# Create a reference the CSV file desired
csv_path = "Resources/CT_fires_2015.csv"

# Read the CSV into a Pandas DataFrame
fires_df = pd.read_csv(csv_path)

# Print the first five rows of data to the screen
fires_df.head()

/Users/dcorless/Applications/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Reporting Year,Fire Department Header Key,Fire Department Name,Incident date,Incident Number,Exposure Number,Fire Department Station,Incident Type Code,Incident Type,Aid Given or Received Code,...,Mized Use Property Codes,Mixed Use Property,Property Use Code,Property Use,Incident Street Address,Incident Apartment Number,Incident City,Incident Zip Code,Census Tract,Location
0,2015,CT06240,WATERBURY FIRE DEPARTMENT,05/11/2015,6499.0,0,07,440,"Electrical wiring/equipment problem, other.",N,...,NaN,NaN,962.0,"Residential street, road, or residential drive...",GREENLEAF AVE,NaN,WATERBURY,06705,NaN,GREENLEAF AVE06705
1,2015,CT08180,THE TOWN OF SALEM,12/01/2015,24036.0,0,21,111,Building fire. Excludes confined fires (113–118).,3,...,NaN,NaN,NaN,NaN,Route 82,NaN,Salem,06420,NaN,Route 8206420
2,2015,CT08190,STONINGTON FIRE DEPT,09/07/2015,76.0,0,1,400,"Hazardous condition (no fire), other.",N,...,NaN,NaN,0.0,"Property use, other.",Bayview AVE,NaN,Stonington Borough,06378,NaN,Bayview AVE06378
3,2015,CT01012,RIVERTON VOLUNTEER FIRE DEPT,01/02/2015,1.0,0,1,444,Power line down. Excludes people trapped by do...,3,...,NaN,NaN,NaN,NaN,Wallens Hill1 RD,NaN,Riverton,06065,NaN,Wallens Hill1 RD06065
4,2015,CT01070,GOSHEN VOLUNTEER FIRE COMPANY,11/03/2015,37.0,0,NaN,150,"Outside rubbish fire, other.",N,...,NaN,NaN,936.0,"Vacant lot. Undeveloped land, not paved, may i...",E east street south,NaN,Goshen,06756,NaN,E east street south06756

In [3]:
# Check the names of all the columns and see if there are any rows with missing data
fires_df.count()

Reporting Year                       34125
Fire Department Header Key           34125
Fire Department Name                 34125
Incident date                        34125
Incident Number                      34125
Exposure Number                      34125
Fire Department Station              28748
Incident Type Code                   34125
Incident Type                        34125
Aid Given or Received Code           34125
Aid Given or Received                34125
Number of Alarms                     32780
Alarm Date and Time                  34125
Arrival Date and Time                34125
Incident Controlled Date and Time     8505
Last Unit Cleared Date and Time      34125
Fire Department Shift                22099
Actions Taken 1                      33905
Actions Taken 2                      10028
Actions Taken 3                       3077
Number of Suppression Apparatus      34125
Number of Suppression Personnel      34125
Number of EMS Apparatus              34125
Number of EMS Personnel              34125
Number of Other Apparatus            34125
Number of Other Personnel            34125
Property Value                        8246
Propery Loss                         15177
Contents Value                        7939
Contents Loss                        15091
Fire Service Deaths                  34078
Fire Service Injuries                34078
Other Fire Deaths                      147
Other Fire Injuries                    147
Detector Alerted Code                 5492
Detector Alerted Occupants            5492
Hazardous Materials Released Code     4821
Hazardous Materials Released          4821
Mized Use Property Codes              6188
Mixed Use Property                    6188
Property Use Code                    31569
Property Use                         31726
Incident Street Address              34021
Incident Apartment Number             2435
Incident City                        34125
Incident Zip Code                    34125
Census Tract                          7126
Location                             34125
dtype: int64

In [4]:
# Rename mistyped columns "Aid Given or Received Code " and "Propery Loss"
fires_df = fires_df.rename(columns={"Aid Given or Received Code ": "Aid Given or Received Code", 
                                    "Propery Loss": "Property Loss"})

In [5]:
# Reduce to columns: Reporting Year, Fire Department Name, Incident date, Incident Type,
# Aid Given or Received Code, Aid Given or Received, Number of Alarms, Alarm Date and Time,
# Arrival Date and Time, Last Unit Cleared Date and Time, Actions Taken 1, Actions Taken 2,
# Actions Taken 3, Property Value, Property Loss, Contents Value, Contents Loss,
# Fire Service Deaths, Fire Service Injuries, Other Fire Deaths, Other Fire Injuries,
# Property Use, Incident Street Address, Incident Apartment Number, Incident City, Incident Zip Code

fires_reduced = fires_df[["Reporting Year", "Fire Department Name", "Incident date", 
                          "Incident Type", "Aid Given or Received Code", "Aid Given or Received", 
                          "Number of Alarms", "Alarm Date and Time", "Arrival Date and Time", 
                          "Last Unit Cleared Date and Time", "Actions Taken 1", 
                          "Actions Taken 2", "Actions Taken 3", "Property Value", 
                          "Property Loss", "Contents Value", "Contents Loss", "Fire Service Deaths", 
                          "Fire Service Injuries", "Other Fire Deaths", "Other Fire Injuries", 
                          "Property Use", "Incident Street Address", "Incident Apartment Number", 
                          "Incident City", "Incident Zip Code"]]
fires_reduced.head()

,Reporting Year,Fire Department Name,Incident date,Incident Type,Aid Given or Received Code,Aid Given or Received,Number of Alarms,Alarm Date and Time,Arrival Date and Time,Last Unit Cleared Date and Time,...,Contents Loss,Fire Service Deaths,Fire Service Injuries,Other Fire Deaths,Other Fire Injuries,Property Use,Incident Street Address,Incident Apartment Number,Incident City,Incident Zip Code
0,2015,WATERBURY FIRE DEPARTMENT,05/11/2015,"Electrical wiring/equipment problem, other.",N,No aid given or received.,1,05/11/2015 03:04:00 PM,05/11/2015 03:12:00 PM,05/11/2015 03:18:00 PM,...,NaN,0.0,0.0,NaN,NaN,"Residential street, road, or residential drive...",GREENLEAF AVE,NaN,WATERBURY,06705
1,2015,THE TOWN OF SALEM,12/01/2015,Building fire. Excludes confined fires (113–118).,3,Mutual aid given to an outside fire service en...,0,12/01/2015 09:14:00 AM,12/01/2015 09:19:00 AM,12/01/2015 09:42:00 AM,...,NaN,0.0,0.0,NaN,NaN,NaN,Route 82,NaN,Salem,06420
2,2015,STONINGTON FIRE DEPT,09/07/2015,"Hazardous condition (no fire), other.",N,No aid given or received.,0,09/07/2015 05:50:00 PM,09/07/2015 05:54:00 PM,09/07/2015 06:30:00 PM,...,NaN,0.0,0.0,NaN,NaN,"Property use, other.",Bayview AVE,NaN,Stonington Borough,06378
3,2015,RIVERTON VOLUNTEER FIRE DEPT,01/02/2015,Power line down. Excludes people trapped by do...,3,Mutual aid given to an outside fire service en...,0,01/02/2015 12:06:00 PM,01/02/2015 12:13:00 PM,01/02/2015 01:58:00 PM,...,NaN,0.0,0.0,NaN,NaN,NaN,Wallens Hill1 RD,NaN,Riverton,06065
4,2015,GOSHEN VOLUNTEER FIRE COMPANY,11/03/2015,"Outside rubbish fire, other.",N,No aid given or received.,NaN,11/03/2015 03:06:00 AM,11/03/2015 03:10:00 AM,11/03/2015 03:45:00 AM,...,0.0,0.0,0.0,NaN,NaN,"Vacant lot. Undeveloped land, not paved, may i...",E east street south,NaN,Goshen,06756

In [6]:
# Fill NAs for columns "Actions Taken 1", "Actions Taken 2", "Actions Taken 3", 
# and "Incident Apartment Number" with ''
# Fill NAs for columns "Other Fire Deaths", "Other Fire Injuries",
# "Property Loss", and "Contents Loss" with 0
fires_reduced = fires_reduced.fillna({"Actions Taken 1": '', 
                                      "Actions Taken 2": '', 
                                      "Actions Taken 3": '',
                                      "Incident Apartment Number": '',
                                      "Other Fire Deaths": 0,
                                      "Other Fire Injuries": 0,
                                      "Property Loss": 0,
                                      "Contents Loss": 0})
fires_reduced.head()

,Reporting Year,Fire Department Name,Incident date,Incident Type,Aid Given or Received Code,Aid Given or Received,Number of Alarms,Alarm Date and Time,Arrival Date and Time,Last Unit Cleared Date and Time,...,Contents Loss,Fire Service Deaths,Fire Service Injuries,Other Fire Deaths,Other Fire Injuries,Property Use,Incident Street Address,Incident Apartment Number,Incident City,Incident Zip Code
0,2015,WATERBURY FIRE DEPARTMENT,05/11/2015,"Electrical wiring/equipment problem, other.",N,No aid given or received.,1,05/11/2015 03:04:00 PM,05/11/2015 03:12:00 PM,05/11/2015 03:18:00 PM,...,0.0,0.0,0.0,0.0,0.0,"Residential street, road, or residential drive...",GREENLEAF AVE,,WATERBURY,06705
1,2015,THE TOWN OF SALEM,12/01/2015,Building fire. Excludes confined fires (113–118).,3,Mutual aid given to an outside fire service en...,0,12/01/2015 09:14:00 AM,12/01/2015 09:19:00 AM,12/01/2015 09:42:00 AM,...,0.0,0.0,0.0,0.0,0.0,NaN,Route 82,,Salem,06420
2,2015,STONINGTON FIRE DEPT,09/07/2015,"Hazardous condition (no fire), other.",N,No aid given or received.,0,09/07/2015 05:50:00 PM,09/07/2015 05:54:00 PM,09/07/2015 06:30:00 PM,...,0.0,0.0,0.0,0.0,0.0,"Property use, other.",Bayview AVE,,Stonington Borough,06378
3,2015,RIVERTON VOLUNTEER FIRE DEPT,01/02/2015,Power line down. Excludes people trapped by do...,3,Mutual aid given to an outside fire service en...,0,01/02/2015 12:06:00 PM,01/02/2015 12:13:00 PM,01/02/2015 01:58:00 PM,...,0.0,0.0,0.0,0.0,0.0,NaN,Wallens Hill1 RD,,Riverton,06065
4,2015,GOSHEN VOLUNTEER FIRE COMPANY,11/03/2015,"Outside rubbish fire, other.",N,No aid given or received.,NaN,11/03/2015 03:06:00 AM,11/03/2015 03:10:00 AM,11/03/2015 03:45:00 AM,...,0.0,0.0,0.0,0.0,0.0,"Vacant lot. Undeveloped land, not paved, may i...",E east street south,,Goshen,06756

In [7]:
# Remove remaining rows with missing data
fires_cleaned_df = fires_reduced.dropna(how="any")
fires_cleaned_df.count()

Reporting Year                     7145
Fire Department Name               7145
Incident date                      7145
Incident Type                      7145
Aid Given or Received Code         7145
Aid Given or Received              7145
Number of Alarms                   7145
Alarm Date and Time                7145
Arrival Date and Time              7145
Last Unit Cleared Date and Time    7145
Actions Taken 1                    7145
Actions Taken 2                    7145
Actions Taken 3                    7145
Property Value                     7145
Property Loss                      7145
Contents Value                     7145
Contents Loss                      7145
Fire Service Deaths                7145
Fire Service Injuries              7145
Other Fire Deaths                  7145
Other Fire Injuries                7145
Property Use                       7145
Incident Street Address            7145
Incident Apartment Number          7145
Incident City                      7145
Incident Zip Code                  7145
dtype: int64

In [8]:
# Filter data to incidents that caused Property or Contents Loss
loss_df = fires_cleaned_df.loc[(fires_cleaned_df["Property Loss"] > 0) |
                               (fires_cleaned_df["Contents Loss"] > 0) , :]
loss_df.head()

,Reporting Year,Fire Department Name,Incident date,Incident Type,Aid Given or Received Code,Aid Given or Received,Number of Alarms,Alarm Date and Time,Arrival Date and Time,Last Unit Cleared Date and Time,...,Contents Loss,Fire Service Deaths,Fire Service Injuries,Other Fire Deaths,Other Fire Injuries,Property Use,Incident Street Address,Incident Apartment Number,Incident City,Incident Zip Code
24,2015,CITY OF DERBY FIRE DEPT,09/04/2015,"Fire, other.",N,No aid given or received.,1,09/04/2015 03:49:00 PM,09/04/2015 03:50:00 PM,09/04/2015 03:59:00 PM,...,0.0,0.0,0.0,0.0,0.0,"Street, other.",Roosevelt DR,,Derby,06418
66,2015,TOWN OF MANCHESTER,02/06/2015,"Fire, other.",N,No aid given or received.,1,02/06/2015 03:23:00 AM,02/06/2015 03:29:00 AM,02/06/2015 03:57:00 AM,...,500.0,0.0,0.0,0.0,0.0,Boarding/Rooming house. Includes residential h...,109 Foster ST,,Manchester,06040
69,2015,TOWN OF MANCHESTER,02/02/2015,"Mobile property (vehicle) fire, other.",N,No aid given or received.,1,02/02/2015 06:11:00 PM,02/02/2015 06:15:00 PM,02/02/2015 06:25:00 PM,...,0.0,0.0,0.0,0.0,0.0,"Residential street, road, or residential drive...",300 Charter Oak ST,,Manchester,06040
94,2015,NEW LONDON FIRE DEPARTMENT,05/09/2015,"Special outside fire, other.",N,No aid given or received.,0.0,05/09/2015 01:31:00 PM,05/09/2015 01:35:00 PM,05/09/2015 01:40:00 PM,...,1.0,0.0,0.0,0.0,0.0,Street or road in commercial area.,BANK ST,,NEW LONDON,06320
153,2015,BUNGAY FIRE BRIGADE,05/23/2015,Cooking fire involving the contents of a cooki...,N,No aid given or received.,0.0,05/23/2015 07:07:00 AM,05/23/2015 07:26:00 AM,05/23/2015 09:09:00 AM,...,4000.0,0.0,0.0,0.0,0.0,"1- or 2-family dwelling, detached, manufacture...",Jeans CT,,Woodstock,6281

In [9]:
# Count how many incidents occured in each city
city_counts = loss_df["Incident City"].value_counts()
city_counts

Hartford           264
Bridgeport         216
WATERBURY          187
NEW LONDON         120
Manchester          84
                  ...
Griswold             1
Portland             1
SOUTH WOODSTOCK      1
DERBY                1
CANTON               1
Name: Incident City, Length: 104, dtype: int64

In [10]:
# Convert the city_counts Series into a DataFrame
city_loss_counts_df = pd.DataFrame(city_counts)
city_loss_counts_df.head()

            Incident City
Hartford              264
Bridgeport            216
WATERBURY             187
NEW LONDON            120
Manchester             84

In [11]:
# Convert the column name into "Sum of Loss Incidents"
city_loss_counts_df = city_loss_counts_df.rename(
    columns={"Incident City": "Sum of Loss Incidents"})
city_loss_counts_df.head()

            Sum of Loss Incidents
Hartford                      264
Bridgeport                    216
WATERBURY                     187
NEW LONDON                    120
Manchester                     84

In [12]:
# Calculate the number of deaths from fire incidents where loss occurred
deaths = loss_df["Fire Service Deaths"].sum() + loss_df["Other Fire Deaths"].sum()
deaths

12.0

In [13]:
# Want to calculate the fire department response time? There is a problem
# Problem can be seen by examining datatypes within the DataFrame
loss_df.dtypes

Reporting Year                       int64
Fire Department Name                object
Incident date                       object
Incident Type                       object
Aid Given or Received Code          object
Aid Given or Received               object
Number of Alarms                    object
Alarm Date and Time                 object
Arrival Date and Time               object
Last Unit Cleared Date and Time     object
Actions Taken 1                     object
Actions Taken 2                     object
Actions Taken 3                     object
Property Value                     float64
Property Loss                      float64
Contents Value                     float64
Contents Loss                      float64
Fire Service Deaths                float64
Fire Service Injuries              float64
Other Fire Deaths                  float64
Other Fire Injuries                float64
Property Use                        object
Incident Street Address             object
Incident Apartment Number           object
Incident City                       object
Incident Zip Code                   object
dtype: object

In [14]:
# Convert relevant date columns to datetime
loss_df = loss_df.astype({"Alarm Date and Time": "datetime64",
                         "Arrival Date and Time": "datetime64",
                         "Last Unit Cleared Date and Time": "datetime64"})
loss_df.dtypes

Reporting Year                              int64
Fire Department Name                       object
Incident date                              object
Incident Type                              object
Aid Given or Received Code                 object
Aid Given or Received                      object
Number of Alarms                           object
Alarm Date and Time                datetime64[ns]
Arrival Date and Time              datetime64[ns]
Last Unit Cleared Date and Time    datetime64[ns]
Actions Taken 1                            object
Actions Taken 2                            object
Actions Taken 3                            object
Property Value                            float64
Property Loss                             float64
Contents Value                            float64
Contents Loss                             float64
Fire Service Deaths                       float64
Fire Service Injuries                     float64
Other Fire Deaths                         float64
Other Fire Injuries                       float64
Property Use                               object
Incident Street Address                    object
Incident Apartment Number                  object
Incident City                              object
Incident Zip Code                          object
dtype: object

In [15]:
# Now it is possible to find the response time in seconds
# Hint: create a new column for "Response Time (seconds)" and use .dt.total_seconds()
# to calculate the seconds
loss_df["Response Time (seconds)"] = loss_df["Arrival Date and Time"] - loss_df["Alarm Date and Time"]
loss_df["Response Time (seconds)"] = loss_df["Response Time (seconds)"].dt.total_seconds()
loss_df["Response Time (seconds)"] = loss_df["Response Time (seconds)"].astype("int")

In [16]:
# Check data for columns of your choosing
response_times = loss_df[["Fire Department Name", "Incident date", "Incident Type", "Arrival Date and Time",
        "Alarm Date and Time", "Response Time (seconds)"]]
response_times.head()

,Fire Department Name,Incident date,Incident Type,Arrival Date and Time,Alarm Date and Time,Response Time (seconds)
24,CITY OF DERBY FIRE DEPT,09/04/2015,"Fire, other.",2015-09-04 15:50:00,2015-09-04 15:49:00,60
66,TOWN OF MANCHESTER,02/06/2015,"Fire, other.",2015-02-06 03:29:00,2015-02-06 03:23:00,360
69,TOWN OF MANCHESTER,02/02/2015,"Mobile property (vehicle) fire, other.",2015-02-02 18:15:00,2015-02-02 18:11:00,240
94,NEW LONDON FIRE DEPARTMENT,05/09/2015,"Special outside fire, other.",2015-05-09 13:35:00,2015-05-09 13:31:00,240
153,BUNGAY FIRE BRIGADE,05/23/2015,Cooking fire involving the contents of a cooki...,2015-05-23 07:26:00,2015-05-23 07:07:00,1140